In [107]:
import pandas as pd
data1 = pd.read_csv(r"D:\hadoop\twitter\tennis\wordcooccurancessmalltop20",sep="\t", header=None)
data1.columns= ['word','count']
df_sort = data1.sort_values('count',ascending=False)
top100 = df_sort[0:100]
top100

                     word  count
172243      tennis|tennis  58387
39371          boy|tennis   7759
115898        play|tennis   7735
166932        tennis|play   7277
172106        tennis|team   7078
175315         tennis|win   6755
81262         girl|tennis   6423
151647         tennis|boy   6239
147124        team|tennis   6189
228992         win|tennis   5874
157868        tennis|girl   5793
173155       tennis|today   5675
163300       tennis|match   5467
92488        match|tennis   4946
166940      tennis|player   4737
194067       today|tennis   4703
150445        tennis|ball   4641
153913       tennis|court   4549
149558         tennis|amp   4045
8209           amp|tennis   4033
103235      player|tennis   3905
173321  tennis|tournament   3817
17663         ball|tennis   3794
58345          day|tennis   3686
48926        court|tennis   3555
170948       tennis|sport   3533
154535         tennis|day   3507
210518     varsiti|tennis   3486
135071       sport|tennis   3334
173054        tennis|time   2923
...                   ...    ...
165863        tennis|open   1789
122697          pm|tennis   1730
156507        tennis|fall   1673
171225       tennis|state   1671
174406         tennis|via   1663
171877        tennis|tabl   1630
169654         tennis|see   1628
152471       tennis|carlo   1622
150101      tennis|athlet   1541
173232     tennis|tonight   1525
164216        tennis|mont   1517
169793         tennis|set   1508
153316        tennis|club   1504
150599    tennis|baseball   1490
162651        tennis|love   1479
173213    tennis|tomorrow   1475
150145         tennis|atp   1455
162749        tennis|luck   1440
159555        tennis|host   1425
174993        tennis|well   1420
151139         tennis|big   1395
172618          tennis|th   1366
173263         tennis|top   1360
164893        tennis|need   1353
156300        tennis|even   1336
175539        tennis|work   1299
174822         tennis|way   1280
168246      tennis|region   1279
175562       tennis|world   1277
161017          tennis|jv   1263

[100 rows x 2 columns]

In [108]:
top100.to_csv(r"D:\hadoop\twitter\tennis\twittertenniswordcooccurancessmalltop100.csv",index=False)